/* ------------------------ ALL PAGES ----------------------- */
/* Resetting font for entire page */
* {
    font-family: 'Inconsolata', monospace; 
    color: #c9c9c9;
}
 
/* setting header text back to white */
h1 {
    color: #ffffff;
}

/* background image */
body {
    background-image: url('../images/background-image.gif'); 
    background-repeat:repeat;
}

/* navbar attributes for all pages*/
.navbar {
    border: 1px solid #000000;
}

/* main content box attributes for all pages */
.main-div-margin {
    margin: 110px 0px 110px 0px;
}
.main-content-box {
    padding: 10px; 
    background-color: #212529; 
    box-shadow: 10px 10px #00000090;  
    border: 1px solid #000000;
}

/* footer attributes */
footer {
    color: #ffffff8c; 
    background-color: #111116; 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    border: 1px solid #000000;
}
.footer-icons {
    font-size: 25px;
    margin: 5px 3px 0px 3px; 
}

/* ----------------------- ABOUT ME PAGE ---------------------- */
/* about me photo */
.about-me-photo {
    width: 200px; 
    border: 1px solid #000000; 
    margin: 0px 20px 10px 0px; 
    float: left;
}

/* ----------------------- PORTFOLIO PAGE --------------------- */
/* portfolio photos*/
.portfolio-col {
    text-align: center;
}
.portfolio-photos {
    width: 240px; 
    border: 1px solid #000000; 
    margin: 20px 20px 20px 20px;
    display:inline-block;
}
.portfolio-photos:hover {
    opacity: 50%;
} 
.portfolio-col {
    margin: 0px 5px 0px 0px ;
}

/* modal */
.modal-header {
    border-bottom: none !important;
}
.modal-content {
    background-color: #212529 !important; 
}  